{% extends 'base.html' %}
{% block content %}

<h1 class='investment-name'>{{ investment.name }}
</h1>
<div class='investment-detail'>
    <p>{{ investment.description }}</p>
    <p>Price: {{ investment.amount }}</p>
</div>

<div class='detail-links'>
    <a class='detail-link' href="{% url 'update_investment' investment.id %}">Edit</a>
    <a class='detail-link' href="{% url 'delete_investment' investment.id %}">Delete</a>
</div>

<form class="detail-form" action="{% url 'add_prediction' investment.id %}" method="POST">
    {% csrf_token %}
    {{ prediction_form.as_p }}
    <input type="submit" class="btn" value="Add Prediction">
</form>

<p class='detail-title'>Predictions</p>
{% if not prediction.count %}
    <p class='placeholder-text'>add a prediction...</p>
{% endif %}
{% for prediction in investment.prediction_set.all %}
    <div>
        <p>{{ prediction.amount }}</p>
        <a href={% url 'remove_prediction' prediction.id %}>Remove</a>
    </div>
{% endfor %}

<p class='detail-title'>Sources for this investment:</p>
{% if investment.has_sources %}
    <div class='card-container'>
        {% for source in investment.sources.all %}
        <div class='card'>
            <a href="{% url 'source_detail' source.id %}">{{source.name}}</a>
            <div class='card-action'>
                <a class='card-action-link' href="{% url 'unassoc_source' investment.id source.id %}">REMOVE</a>
            </div>
        </div>
        {% endfor %}‡
    </div>
    </hr>
{% else %}
    <p class='placeholder-text'>add a source...</p>
{% endif %}

<p class='detail-title'>Sources you can add:</p>
<div class='card-container'>
{% for source in sources %}
    <div class='card'>
        <a href="{% url 'source_detail' source.id %}">{{source.name}}</a>
        <div class='card-action'>
            <a class='card-action-link' href="{% url 'assoc_source' investment.id source.id %}">ADD</a>
        </div>
    </div>
{% endfor %}
{% if not sources.count %}
    <p class='placeholder-text'>all sources are added...</p>
{% endif %}
</div>
{% endblock %}