{% extends 'base.html' %}
{% block content %}

<div class='card-container'>
{% for investment in investments %}
    <div class='card'>
        <a href="{% url 'detail' investment.id%}">{{ investment.name }}</a>
        <div class='card-action'>
            <a class='card-action-link' href="{% url 'update_investment' investment.id %}">EDIT</a>
            <a class='card-action-link' href="{% url 'delete_investment' investment.id %}">DELETE</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}