{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
    <title>Finch Collector</title>
</head>
<body>
    <nav>
        <h1>Investis</h1>
        <ul>
            <li><a href="{% url 'home' %}">Investis</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'create_source' %}">Add a Source</a></li>
            <li><a href="{% url 'list_source' %}">View All Sources</a></li>
            <li><a href="{% url 'create_investment' %}">Add an Investment</a></li>
            <li><a href="{% url 'list' %}">View All Investments</a></li>
        </ul>
    </nav>
    <main class="container">
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>